<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MPyC Fitnesstracker</title>
    <link rel="stylesheet" href="/static/lib/normalize.css" />
    <link rel="stylesheet" href="/static/lib/skeleton.css" />
    <link rel="stylesheet" href="/static/style.css"


</head>
<body>

    <div class="container">
        <!-- Navigationsleiste -->
        <ul class="navigation" >
            <li class="navigation-item">
                <a href="/">Dashboard</a>
            </li>
            <li class="navigation-item">
                <a href="/admin">Administration</a>
            </li>
            <li class="navigation-item">
                <a href="/versicherung">Sicht Versicherung</a>
            </li>
        </ul>

        <!-- Div für Abstand zum Content Block; &nbsp ist leertaste -->
        <div style="clear: both;">&nbsp;</div>

        <!-- Content Block: -->
        {% block content %} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>