{% extends "layouts/main.html" %}

{% block content %}
<body>
<div class="row">
    <h2>Upload new File</h2>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
</div>


<div class="row">
    <h2>Dateien Inputfiles</h2>
    <div class="four columns">
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Datei</th>
                <th>Speicherort</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <h2>Administration der Daten</h2>

    <div class="row">
        <form method="get">
            <label for="Choose_Function">Aktion auswählen</label>
            <select name="Choose_Function" id="Choose_Function">
                {% for func in functions %}
                <option id="option_function" name="option_function" value={{func}}>{{func}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Ausführen"/>
        </form>
    </div>
    <p>{{returnlist[0]}}</p>
</div>

</body>
</html>

{% endblock %}