{% extends "layouts/main.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Admin Site</title>
</head>
<body>
<h1>Administration der Daten</h1>

    <div class="row">
        <form method="get">
            <label for="Choose_Function">Aktion auswählen</label>
            <select name="Choose_Function" id="Choose_Function">
                {% for func in functions %}
                <option id="option_function" name="option_function" value={{func}}>{{func}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Ausführen"/>
        </form>
    </div>
<p>{{returnlist[0]}}</p>
</body>
</html>

{% endblock %}