{% extends "layouts/main.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Sichten Versicherung</title>
</head>
<body>
<h1>Übersicht Sichten der Versicherung</h1>
<form>
  <div class="row">
    <div class="six columns">
      <label for="exampleRecipientInput">Jahr auswählen</label>
      <select class="u-full-width" id="exampleRecipientInput">
        <option value="Option 1">2016</option>
        <option value="Option 2">2017</option>
        <option value="Option 3">2018</option>
        <option value="Option 4">2019</option>
        <option value="Option 5">2020</option>
        <option value="Option 6">2021</option>
        <option value="Option 7">Alle Jahre</option>
      </select>
    </div>
    <div class="six columns">
      <label for="exampleRecipientInput">Monat auswählen</label>
      <select class="u-full-width" id="exampleRecipientInput2">
        <option value="Option 1">Jänner</option>
        <option value="Option 2">Februar</option>
        <option value="Option 3">März</option>
        <option value="Option 4">April</option>
        <option value="Option 5">Mai</option>
        <option value="Option 6">Juni</option>
        <option value="Option 7">Juli</option>
        <option value="Option 8">August</option>
        <option value="Option 9">September</option>
        <option value="Option 10">Oktober</option>
        <option value="Option 11">November</option>
        <option value="Option 12">Dezember</option>
        <option value="Option 13">Alle Monate</option>
      </select>
    </div>
  </div>
  <input class="button-primary" type="submit" value="Daten anzeigen">
</form>
</body>
</html>

{% endblock %}