{% extends "layouts/main.html" %}

{% block content %}

<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Sichten Versicherung</title>

</head>
<body>
<script src="/static/index.js"></script>

<h1>Übersicht Sichten der Versicherung</h1>
<div class="row">
    <div class="four columns">
        <form method="get">
            <label for="year">Jahr</label>
            <input type="text" name="year" value="{{year}}" id="year"/>

            <label for="month">Monat</label>
            <input type="text" name="month" value="{{month}}" id="month" />

            <br />
            <input type="submit" value="Anzeigen" />
        </form>
    </div>

    <div class="four columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>{{year}}</th>
                    <th>{{month}}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in all_months_filter %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<h1>Eigene Ansicht</h1>

<form>
    <div class="row">
        <div class="six columns">
            <label for="exampleRecipientInput">Jahr auswählen</label>
            <select class="u-full-width" id="exampleRecipientInput">
                {% for i in years %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
                <option value="Option Alle Jahre">Alle Jahre</option>
            </select>
        </div>
        <div class="six columns">
            <label for="exampleRecipientInput">Monat auswählen</label>
            <select class="u-full-width" id="exampleRecipientInput2">
                {% for i in months %}
                <option value="Option {{i}}">{{i}}</option>
                {% endfor %}
                <option value="Option Alle Monate">Alle Monate</option>
            </select>
        </div>
    </div>
    <input class="button-primary" type="submit" value="Daten anzeigen">
</form>


<div class="row">
    <div class="four columns">
        <table class="sortable u-full-width">
            <thead>
            <tr>
                <th>{{head[0]}}</th>
                <th>{{head[1]}}</th>
            </tr>
            </thead>
            <tbody>
            {% for i in all_months %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="four columns">
        <div class="row">
            <table class="sortable u-full-width">
                <thead>
                <tr>
                    <th>{{head[0]}}</th>
                    <th>{{head[1]}}</th>
                </tr>
                </thead>
                <tbody>
                {% for i in all_years %}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="four columns">
        <div class="row">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>{{head[0]}}</th>
                    <th>{{head[1]}}</th>
                </tr>
                </thead>
                <tbody>
                {% for i in all_steps_ever %}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}